<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>列表演示</title>

<script type="text/javascript" src="jquery-1.11.1.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".para").click(function(){
		$(".test1").slideToggle("slow");
	});
});
</script>
<style type="text/css">
div.test1,p.para
{
margin:0px;
padding:5px;
text-align:center;
background:#e5eecc;
border:solid 1px #c3c3c3;
}
div.test1
{
height:150px;
display:none;
}
</style>
</head>

<body>
<div class="test1" background-color="red">
<p>this is a test paragraph</p>
<h1>do not use it for commercial</h1>
</div>

<p class="para">did you see that</p>
</body>
</html>